<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="module">
        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

    </style>
</head>

<body>
<div id="app">
    <template>
        <el-tabs v-model="activeName">
            <el-tab-pane label="线路规划参数初始化" name="first">

                <div style="float: right; padding: 3px 0">
                    <el-button type="primary" @click="onSubmit">下一步</el-button>
                    <el-button>上一步</el-button>
                </div>

                <el-collapse v-model="activeNames" accordion style="clear: both;">
                    <el-collapse-item title="线路参数配置" name="1">
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-top: 70px;float: right;">折算系数（%）</div>
                            </el-col>
                            <el-col :span="10">
                                <div class="grid-content bg-purple"
                                     style="border-radius: 6px;border: 1px solid #eee; width: 800px;height: 200px;">
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 60%;margin-left: 20%;margin-top: 3%;">
                                        <el-form-item label="工业">
                                            <el-input-number v-model="form.industryRatio" size="small"
                                                             controls-position="right" :min="1"
                                                             :max="100"></el-input-number>
                                        </el-form-item>
                                        <el-form-item label="商业" style="margin-left: 20%;">
                                            <el-input-number v-model="form.businessRatio" size="small"
                                                             controls-position="right" :min="1"
                                                             :max="100"></el-input-number>
                                        </el-form-item>
                                        <el-form-item label="居民">
                                            <el-input-number v-model="form.residentRatio" size="small"
                                                             controls-position="right" :min="1"
                                                             :max="100"></el-input-number>
                                        </el-form-item>
                                        <el-form-item label="充电桩" style="margin-left: 17%;">
                                            <el-input-number v-model="form.chargingPileRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="100"></el-input-number>
                                        </el-form-item>
                                        <el-form-item label="混合">
                                            <el-input-number v-model="form.blendRatio" size="small"
                                                             controls-position="right" :min="1"
                                                             :max="100"></el-input-number>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20" style="margin-top: 10px;">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-top: 70px;float: right;">线路最大容量（kVA）
                                </div>
                            </el-col>
                            <el-col :span="10">
                                <div class="grid-content bg-purple"
                                     style="border-radius: 6px;border: 1px solid #eee; width: 800px;height: 150px;">
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 60%;margin-left: 18%;margin-top: 3%;">
                                        <el-form-item label="纯工业">
                                            <el-input size="small" v-model="form.industryMaximumCapacity"
                                                      style="width: 130px;">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="纯商业" style="margin-left: 17%;">
                                            <el-input size="small" v-model="form.businessMaximumCapacity"
                                                      style="width: 130px;"/>
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="纯居民">
                                            <el-input size="small" v-model="form.residentMaximumCapacity"
                                                      style="width: 130px;"/>
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="纯快充电桩" style="margin-left: 11%;">
                                            <el-input size="small" v-model="form.chargingPileMaximumCapacity"
                                                      style="width: 130px;"/>
                                            </el-input-number>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20" style="margin-top: 10px;">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-top: 70px;float: right;">自动化覆盖率要求（%）
                                </div>
                            </el-col>
                            <el-col :span="10">
                                <div class="grid-content bg-purple"
                                     style="border-radius: 6px;border: 1px solid #eee; width: 800px;height: 150px;">
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 70%;margin-left: 14%;margin-top: 3%;">
                                        <el-form-item label="A+类供电区">
                                            <el-input-number v-model="form.a1AutomationRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="100">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="A类供电区" style="margin-left: 10%;">
                                            <el-input-number v-model="form.a2AutomationRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="100">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="B类供电区" style="margin-left: 2%;">
                                            <el-input-number v-model="form.bAutomationRatio" size="small"
                                                             controls-position="right" :min="1"
                                                             :max="100">
                                            </el-input-number>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-row>
                        <el-form :inline="true" :model="form" style="margin-left: 18%;margin-top: 20px;">
                            <el-form-item label="电缆接入阈值">
                                <el-input v-model="form.lineThreshold" size="small" placeholder="电缆接入阈值"
                                          style="margin-left: 20%;">
                                    <template slot="append">m</template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="调整系数" style="margin-left: 12%;">
                                <el-input-number v-model="form.lineThresholdRatio" size="small"
                                                 controls-position="right" :min="1"
                                                 :max="2" :step="0.1" :precision="1">
                                </el-input-number>
                            </el-form-item>
                        </el-form>
                    </el-collapse-item>
                    <el-collapse-item title="环网柜参数配置" name="2">
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-top: 70px;float: right;">A+类供电区</div>
                            </el-col>
                            <el-col :span="10">
                                <div class="grid-content bg-purple"
                                     style="border-radius: 6px;border: 1px solid #eee; width: 1100px;height: 200px;">
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;margin-top: 2%;">
                                        <el-form-item label="工业负荷">
                                            <el-input v-model="form.a1IndustryLoad" size="small" placeholder="工业负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1IndustryLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a1IndustryCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1IndustryCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a1IndustryUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;">
                                        <el-form-item label="商业负荷">
                                            <el-input v-model="form.a1BusinessLoad" size="small" placeholder="商业负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1BusinessLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a1BusinessCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1BusinessCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a1BusinessUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;">
                                        <el-form-item label="居民负荷">
                                            <el-input v-model="form.a1ResidentLoad" size="small" placeholder="居民负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1ResidentLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a1ResidentCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a1ResidentCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a1ResidentUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20" style="margin-top: 10px;">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-top: 70px;float: right;">A、B类供电区</div>
                            </el-col>
                            <el-col :span="10">
                                <div class="grid-content bg-purple"
                                     style="border-radius: 6px;border: 1px solid #eee; width: 1100px;height: 200px;">
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;margin-top: 2%;">
                                        <el-form-item label="工业负荷">
                                            <el-input v-model="form.a2bIndustryLoad" size="small" placeholder="工业负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bIndustryLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a2bIndustryCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bIndustryCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a2bIndustryUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;">
                                        <el-form-item label="商业负荷">
                                            <el-input v-model="form.a2bBusinessLoad" size="small" placeholder="商业负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bBusinessLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a2bBusinessCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bBusinessCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a2bBusinessUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                    <el-form :label-position="labelPosition" :model="form" :inline="true"
                                             style="width: 100%;margin-left: 2%;">
                                        <el-form-item label="居民负荷">
                                            <el-input v-model="form.a2bResidentLoad" size="small" placeholder="居民负荷"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">MW</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bResidentLoadRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.2" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="容量">
                                            <el-input v-model="form.a2bResidentCapacity" size="small" placeholder="容量"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">kVA</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="调整系数">
                                            <el-input-number v-model="form.a2bResidentCapacityRatio" size="small"
                                                             controls-position="right"
                                                             :min="1" :max="1.3" :step="0.1" :precision="1">
                                            </el-input-number>
                                        </el-form-item>
                                        <el-form-item label="用户数">
                                            <el-input v-model="form.a2bResidentUsers" size="small" placeholder="用户数"
                                                      style="width: 150px;margin-top: 3%;">
                                                <template slot="append">户</template>
                                            </el-input>
                                        </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                    <el-collapse-item title="新建环网柜参数配置" name="3">
                        <el-form :label-position="labelPosition" :model="form" :inline="true"
                                 style="width: 70%;margin-left: 18%;margin-top: 10px;">
                            <el-form-item label="馈线（A+类供电区）节点数">
                                <el-input-number v-model="form.a1NodeNum" size="small" controls-position="right"
                                                 :min="1" :max="10">
                                </el-input-number>
                            </el-form-item>
                            <el-form-item label="馈线（A类供电区）节点数" style="margin-left: 5%;">
                                <el-input-number v-model="form.a2NodeNum" size="small" controls-position="right"
                                                 :min="1" :max="10">
                                </el-input-number>
                            </el-form-item>
                            <el-form-item label="馈线（B类供电区）节点数" style="margin-left: 5%;">
                                <el-input-number v-model="form.bNodeNum" size="small" controls-position="right" :min="1"
                                                 :max="10">
                                </el-input-number>
                            </el-form-item>
                        </el-form>
                    </el-collapse-item>
                </el-collapse>


            </el-tab-pane>
        </el-tabs>
    </template>


</div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="module">
    var Main = {
        data() {
            return {
                labelPosition: 'right',
                activeName: 'first',
                activeNames: ['1', '2', '3'],
                form: {
                    industryRatio: 60,
                    businessRatio: 50,
                    residentRatio: 35,
                    chargingPileRatio: 90,
                    blendRatio: 40,
                    industryMaximumCapacity: 10000,
                    businessMaximumCapacity: 12000,
                    residentMaximumCapacity: 15000,
                    chargingPileMaximumCapacity: 8000,
                    a1AutomationRatio: 50,
                    a2AutomationRatio: 40,
                    bAutomationRatio: 30,
                    lineThreshold: 1000,
                    lineThresholdRatio: 1,
                    a1IndustryLoad: 2,
                    a1IndustryLoadRatio: 1,
                    a1IndustryCapacity: 3500,
                    a1IndustryCapacityRatio: 1,
                    a1IndustryUsers: 10,
                    a1BusinessLoad: 2,
                    a1BusinessLoadRatio: 1,
                    a1BusinessCapacity: 4000,
                    a1BusinessCapacityRatio: 1,
                    a1BusinessUsers: 10,
                    a1ResidentLoad: 1.5,
                    a1ResidentLoadRatio: 1,
                    a1ResidentCapacity: 4500,
                    a1ResidentCapacityRatio: 1,
                    a1ResidentUsers: 800,
                    a2bIndustryLoad: 2,
                    a2bIndustryLoadRatio: 1,
                    a2bIndustryCapacity: 3500,
                    a2bIndustryCapacityRatio: 1,
                    a2bIndustryUsers: 20,
                    a2bBusinessLoad: 2,
                    a2bBusinessLoadRatio: 1,
                    a2bBusinessCapacity: 4000,
                    a2bBusinessCapacityRatio: 1,
                    a2bBusinessUsers: 20,
                    a2bResidentLoad: 2,
                    a2bResidentLoadRatio: 1,
                    a2bResidentCapacity: 5500,
                    a2bResidentCapacityRatio: 1,
                    a2bResidentUsers: 1000,
                    a1NodeNum: 6,
                    a2NodeNum: 7,
                    bNodeNum: 8,
                }
            };
        },
        methods: {
            onSubmit() {
                var self = this;
                var formObj = self.form;
                formObj.requestNo = new Date().getTime();
                formObj.needNo='SZFT20210520004353809';
                $.ajax({
                    type: "post",
                    dataType: "json",
                    data: formObj,
                    url: "/initRequirementParam/insert",
                    success: function (data) {
                        if (data.code == 200) {
                            self.$message.success('新增成功');
                        } else {
                            self.$message.error('新增失败：' + data.message);
                        }
                    },
                    error: function (json) {
                        self.$message.error('加载失败');
                    }
                });
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>