<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }

    .el-row {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .el-col {
      margin-top: 20px;
      border-radius: 4px;
      text-align: center;
    }

    .bg-purple-dark {
      background: white;
    }

    .bg-purple {
      background: white;
    }

    .bg-purple-light {
      background: white;
    }

    .grid-content {
      min-height: 80px;
    }

    .row-bg {
      padding: 0 5px;
      background-color: white;
    }


    .el-carousel__item h3 {
      color: #606266;
      font-size: 18px;
      opacity: 0.75;
      margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
      background-color: white;
      opacity: 0.8;
    }

    .el-carousel__item:nth-child(2n+1) {
      background-color: white;
      opacity: 0.8;
    }
  </style>
</head>

<body>
  <div id="app">



    <template>
      <el-tabs v-model="activeName">
        <el-tab-pane label="人工校核" name="first">
          <div style="float: right; padding: 3px 0">
            <el-button type="primary">方案对比</el-button>
            <el-button>上一步</el-button>
          </div>

        </el-tab-pane>
      </el-tabs>
    </template>


    <div style="margin-left: 80px;margin-top: 50px;z-index: 99999;position: absolute;width: 250px;height: 400px;background-color: white;opacity: 0.8;">
    <el-row>
      <h3 style="margin-left: 20px;color: #606266;">设备单元</h3>
      <el-col :span="8" :offset="2">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/1.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8" :offset="3">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/2.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8" :offset="2">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/3.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8" :offset="3">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/4.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8" :offset="2">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/5.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8" :offset="3">
        <el-card :body-style="{ padding: '0px' }">
          <el-image style="width: 50px; height: 50px" src="./source/6.png" fit="contain"></el-image>
          <div style="padding: 3px;">
            <span>环网柜</span>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>



    <div id="planList"
      style="margin-left: 1500px;margin-top: 100px;z-index: 99999;position: absolute;width: 330px;height: 250px;">
      <template>
        <el-carousel indicator-position="outside" style="height: 200px;" height="150px" :autoplay="false"
          trigger="click">
          <el-carousel-item v-for="(item,index) in  plans" :key="item" style="height: 150px;">
            <h3 style="text-align: center;margin-top: 10px;">{{ item }}</h3>
            <div style="text-align: center;margin-top: 30px;">
              <el-button type="primary">编辑</el-button>
              <el-button type="info">取消</el-button>
              <el-button type="primary">保存</el-button>
            </div>
          </el-carousel-item>
        </el-carousel>
      </template>
    </div>


    <div id="bdmap" style="width:1800px;height:820px;overflow: hidden;margin:0;font-family:'微软雅黑';margin-left: 50px;">

    </div>


    <div id="menu1" style="display:none">
      <div style="background-color:white;height: 400px;width: 200px;">
        <div> <i class="el-icon-menu"></i>
          <span style="font-size: 15px;font-family: '微软雅黑'">土建单元</span>
        </div>
        <el-row :gutter="2">
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/1.png" fit="contain"></el-image>
              <el-tag size="mini">环网柜</el-tag>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/2.png" fit="contain"></el-image>
              <el-tag size="mini">环网柜(带三遥)</el-tag>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/3.png" fit="contain"></el-image>
              <el-tag size="mini">联络柜</el-tag>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/4.png" fit="contain"></el-image>
              <el-tag size="mini">联络柜(带三遥)</el-tag>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/5.png" fit="contain"></el-image>
              <el-tag size="mini">开闭所</el-tag>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-image style="width: 50px; height: 50px" src="./source/6.png" fit="contain"></el-image>
              <el-tag size="mini">开闭所(带三遥)</el-tag>
            </div>
          </el-col>
        </el-row>
        <!-- <div class="block" v-for="(url,index) in urls" :key="url">
          <el-image style="width: 50px; height: 50px" :src=url fit="contain"></el-image>
          <el-tag size="mini">{{ names[index] }}</el-tag>
        </div> -->
      </div>
    </div>
  </div>




  </div>


</body>

<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="module">
  var Main = {
    data() {
      return {
        activeName: 'first',
        url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
        names: ['环网柜', '环网柜(带三遥)', '联络柜', '联络柜(带三遥)', '开闭所', '开闭所(带三遥)'],
        urls: ['./source/1.png', './source/2.png', './source/3.png', './source/4.png', './source/5.png', './source/6.png'],
        plans: ['方案一', '方案二', '方案三']
      };
    },
    mounted() {
      this.initMap()
    },
    methods: {
      initMap() {
        loadBMap()
      }
    }
  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')

  /**
   * @description 加载百度地图相关资源js
   * @param {string} ak
   */
  export default function loadBMap(ak) {
    return new Promise((resolve, reject) => {
      asyncLoadBaiduJs(ak)
        .catch(err => {
          reject(err)
        })
    })
  }

  /**
   * @description 加载百度地图基础组件js
   * @param {string} ak
   */
  export function asyncLoadBaiduJs() {
    return new Promise((resolve, reject) => {
      if (typeof BMap !== 'undefined') {
        resolve(BMap)
        return true
      }
      window.onBMapCallback = function () {
        var map = new BMapGL.Map('bdmap'); // 创建Map实例
        var point = new BMapGL.Point(116.404, 39.915); // 创建点坐标
        map.centerAndZoom(point, 10);
        map.enableScrollWheelZoom(); // 启用滚轮放大缩小

        //定义一个控件类
        // function ZoomControl() {
        //   this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
        //   this.defaultOffset = new BMapGL.Size(20, 20)
        // }
        // //通过JavaScript的prototype属性继承于BMap.Control
        // ZoomControl.prototype = new BMapGL.Control();

        // //自定义控件必须实现自己的initialize方法，并且将控件的DOM元素返回
        // //在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中
        // ZoomControl.prototype.initialize = function (map) {
        //   //创建一个dom元素
        //   var div = document.createElement('div');

        //   div.innerHTML = $("#menu1").html();

        //   // 添加DOM元素到地图中
        //   map.getContainer().appendChild(div);
        //   // 将DOM元素返回
        //   return div;
        // }
        // //创建控件元素
        // var myZoomCtrl = new ZoomControl();
        // //添加到地图中
        // map.addControl(myZoomCtrl);

      }
      let script = document.createElement('script')
      script.type = 'text/javascript'
      script.src = 'http://api.map.baidu.com/api?type=webgl&v=1.0&ak=WqWguexTXotbEEIPGgxDGGHr2z2Etw4b&callback=onBMapCallback'
      script.onerror = reject
      document.head.appendChild(script)
    })
  }

</script>

</html>