<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body style="width: 800px;height: 500px;text-align:center;">
  <div id="app">
    <template>
      <el-tabs v-model="activeName">
        <el-tab-pane label="线路规划方案校验" name="first">

          <div style="float: right; padding: 3px 0">
            <el-button type="primary">下一步</el-button>
            <el-button>取消</el-button>
          </div>


          <el-table :data="tableData" stripe border style="width: 100%">
            <el-table-column prop="scheme" label="" width="140" align="center">
            </el-table-column>
            <el-table-column prop="area" label="供电区域" width="140" align="center">
            </el-table-column>
            <el-table-column prop="budget" label="投资估算（万元）" width="140" align="center">
            </el-table-column>
            <el-table-column prop="distance" label="总长度（km）" width="140" align="center">
            </el-table-column>
            <el-table-column prop="planNo" label="网格编号" width="140" align="center">
            </el-table-column>
            <el-table-column prop="result" label="校验结果" align="center">
              <template slot-scope="scope">
                <i :class="scope.row.result === true ? 'el-icon-check' : 'el-icon-close'"></i>
                <!-- <el-tag :type="scope.row.result === true ? 'success' : 'danger'" disable-transitions>
                  <i :class="scope.row.result === true ? 'el-icon-check' : 'el-icon-close'"></i>
                </el-tag> -->
              </template>
            </el-table-column>

          </el-table>


        </el-tab-pane>
      </el-tabs>
    </template>



  </div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  var Main = {
    data() {
      return {
        labelPosition: 'right',
        activeName: 'first',
        tableData: [{
          scheme: '方案一',
          area: 'A+',
          budget: '450',
          distance: '2.5',
          planNo: 'L2FT03-FTJ017',
          result: true

        }, {
          scheme: '方案二',
          area: 'A+',
          budget: '300',
          distance: '3.5',
          planNo: 'L2FT03-FTJ017',
          result: true
        }, {
          scheme: '方案三',
          area: 'A',
          budget: '800',
          distance: '7.6',
          planNo: 'L2FT03-FTJ017',
          result: true
        }, {
          scheme: '方案四',
          area: 'B',
          budget: '2400',
          distance: '12.5',
          planNo: 'L2FT03-FTJ017',
          result: false
        }]
      };
    }
  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')
</script>

</html>