<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>


    </style>
</head>

<body>
<div id="app">


    <template>
        <el-tabs v-model="activeName">
            <el-tab-pane label="现状分析及GIS定位" name="first">
                <div style="float: right; padding: 3px 0">
                    <el-input v-model="position" placeholder="经纬度" :disabled="true" style="width: 300px;"></el-input>
                    <el-button type="primary">参数初始化</el-button>
                    <el-button>上一步</el-button>
                </div>

            </el-tab-pane>
        </el-tabs>
    </template>


    <div id="bdmap" style="width:1800px;height:820px;overflow: hidden;margin:0;font-family:'微软雅黑';margin-left: 50px;">

    </div>

</div>


</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="module">
    var Main = {
        data() {
            return {
                activeName: 'first',
                position: '116.43354733209172,39.90946227072384'
            };
        },
        mounted() {
            this.initMap()
        },
        methods: {
            initMap() {
                loadBMap()
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

    /**
     * @description 加载百度地图相关资源js
     * @param {string} ak
     */

    function loadBMap(ak) {
        return new Promise((resolve, reject) => {
            asyncLoadBaiduJs(ak)
                .catch(err => {
                    reject(err)
                })
        })
    }

    /**
     * @description 加载百度地图基础组件js
     * @param {string} ak
     */
    var map;

    function asyncLoadBaiduJs() {
        return new Promise((resolve, reject) => {
            if (typeof BMap !== 'undefined') {
                resolve(BMap)
                return true
            }
            window.onBMapCallback = function () {
                map = new BMapGL.Map('bdmap'); // 创建Map实例
                map.centerAndZoom("深圳福田区", 15);
                map.enableScrollWheelZoom(); // 启用滚轮放大缩小
                //加载地图信息
                queryGridL2();

                //显示用户包装点
                queryRequirement();
            }
            let script = document.createElement('script')
            script.type = 'text/javascript'
            script.src = 'http://api.map.baidu.com/api?type=webgl&v=1.0&ak=WqWguexTXotbEEIPGgxDGGHr2z2Etw4b&callback=onBMapCallback'
            script.onerror = reject
            document.head.appendChild(script)
        })
    }

    function queryRequirement() {

        $.ajax({
            type: "post",
            dataType: "json",
            data: {requestNo: new Date().getTime(), needNo: 'SZFT20210622010250792'},
            url: "/fillRequirement/selectFillRequirement",
            success: function (data) {
                if (data.code == 200) {
                    //显示用户报装点
                    showRequest(data.data);
                } else {
                    this.$message.error('获取L2网格失败失败：' + data.message);
                }
            },
            error: function (json) {
                this.$message.error('查询L2网格失败');
            }
        });
    }

    function queryGridL2() {

        $.ajax({
            type: "post",
            dataType: "json",
            data: {requestNo: new Date().getTime(), needNo: 'SZFT20210622010250792'},
            url: "/showGis/select",
            success: function (data) {
                if (data.code == 200) {

                    //显示L2网格
                    showGridL2(data.data.gridL2Vo);

                    //显示线路
                    showLine(data.data.lineVoList);

                    //显示环网柜
                    showCabinet(data.data.cabinetVoList);

                } else {
                    this.$message.error('获取L2网格失败失败：' + data.message);
                }
            },
            error: function (json) {
                this.$message.error('查询L2网格失败');
            }
        });
    }


    function showGridL2(gridL2) {
        var points = [];
        var pointStr = gridL2.gridEdge.split(";");

        for (var i = 0; i < pointStr.length; i++) {
            var xys = pointStr[i].split(",");
            var point = new BMapGL.Point(xys[0], xys[1]);
            points.push(point);
        }
        var polygon = new BMapGL.Polygon(points, {
            strokeColor: 'red',
            strokeWeight: 2,
            strokeOpacity: 0.5
        });

        var content = "<h4>L2网格信息</h4>"
            + "网格编码：" + gridL2.gridNo + "<br/> "
            + "网格名称:" + gridL2.gridName + "<br /> "
            + "网格类型:" + gridL2.gridTypeName + "<br /> ";


        addClickHandler(content, polygon, opts);
        map.addOverlay(polygon);
        map.setViewport(points); //将所有的点放置在最佳视野内
    }

    //点击事件
    function addClickHandler(content, obj, opts) {
        obj.addEventListener("click", function (e) {
            if (e.domEvent != null) {
                //覆盖物阻止事件冒泡到地图上
                e.domEvent.stopPropagation();
                e.domEvent.cancelBubble = true;
            }
            var point = new BMapGL.Point(e.latLng.lng, e.latLng.lat);
            var infoWindow = new BMapGL.InfoWindow(content, opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, point);                //开启信息窗口
        });
    }

    function showLine(lines) {

        for (var i = 0; i < lines.length; i++) {
            var points = [];
            var pointStr = lines[i].linePoints.split(";");
            for (var j = 0; j < pointStr.length; j++) {
                var xys = pointStr[j].split(",");
                var point = new BMapGL.Point(xys[0], xys[1]);
                points.push(point);
            }
                var polyline = new BMapGL.Polyline(points, {
                    strokeColor: 'blue',
                    strokeWeight: 2,
                    strokeOpacity: 0.5
                });
                var content = "<h4>线路信息</h4>"
                    + "线路编码：" + lines[i].lineNo + "<br/> "
                    + "线路类型:" + lines[i].lineTypeName + "<br /> "
                    + "额定容量:" + lines[i].linePower + "<br /> "
                    + "已使用容量:" + lines[i].linePowerUsed + "<br /> "
                    + "规划占用容量:" + lines[i].planLinePowerUsed + "<br /> "
                    + "线路所属变电站:" + lines[i].stationName + "<br /> "
                    + "高峰负荷期间是否存在重过载:" + lines[i].overloadType + "<br /> ";
                addClickHandler(content, polyline, opts1);
                map.addOverlay(polyline);
        }
    }



    // 创建信息窗口
    var opts = {
        width: 200,
        height: 180,
        enableCloseOnClick: false
    };

    // 创建信息窗口
    var opts1 = {
        width: 200,
        height: 300,
        enableCloseOnClick: false
    };


    function showCabinet(cabinet) {

        var myIcon = new BMapGL.Icon("../static/source/1.png", new BMapGL.Size(60, 50));

        for (var i = 0; i < cabinet.length; i++) {
            var point = new BMapGL.Point(cabinet[i].longitude, cabinet[i].latitude);
            var marker = new BMapGL.Marker(point, {
                icon: myIcon
            });
            marker.setZIndex(99999);
            var content = "<h4>环网柜信息</h4>"
                + "环网柜编码：" + cabinet[i].cabinetNo + "<br/> "
                + "环网柜型号:" + cabinet[i].type + "<br /> "
                + "控制负荷:" + cabinet[i].clValue + "<br /> "
                + "总容量:" + cabinet[i].capacity + "<br /> "
                + "已用容量:" + cabinet[i].useCapacity + "<br /> "
                + "环网柜总出线单元数:" + cabinet[i].outputNo + "<br /> "
                + "环网柜已用出线单元数数:" + cabinet[i].outputUsedNo + "<br /> "
                + "所属线路:" + cabinet[i].lineNo + "<br /> "
                + "自动化情况:" + cabinet[i].automationName == null ? "" : cabinet[i].automationName + "<br /> ";
            addClickHandler(content, marker, opts1);
            map.addOverlay(marker);
        }
    }


    function showRequest(request) {
        var marker = new BMapGL.Marker(new BMapGL.Point(request.longitude, request.latitude));
        var content = "<h4>用户填报需求信息</h4>"
            + "需求编码：" + request.needNo + "<br/> "
            + "报装用户名称:" + request.needName + "<br /> "
            + "报装容量:" + request.needCapacity + "<br /> "
            + "变压器构成:" + request.transformerConstitute + "<br /> "
            + "报装位置:" + request.locationName + "<br /> "
            + "负荷性质:" + request.typeName + "<br /> "
            + "供电区域类型:" + request.areaName + "<br /> ";
        addClickHandler(content, marker, opts1);
        map.addOverlay(marker);
    }
</script>

</html>