<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.power.grid.plan.mapper.NodeMapper">
    <resultMap id="BaseResultMap" type="com.power.grid.plan.pojo.NodePo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="node_no" property="nodeNo" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="grid_no" property="gridNo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="ts" property="ts" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, node_no, longitude, latitude, grid_no, create_time, create_user, update_time, 
    update_user, is_deleted, ts
  </sql>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from yk_gh_node
        where grid_no = #{gridNo,jdbcType=VARCHAR}
    </select>
</mapper>