<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.power.grid.plan.mapper.PlanSchemeDetailMapper">
    <resultMap id="BaseResultMap" type="com.power.grid.plan.pojo.PlanSchemeDetailPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="case_no" property="caseNo" jdbcType="VARCHAR"/>
        <result column="road_no" property="roadNo" jdbcType="VARCHAR"/>
        <result column="case_points" property="casePoints" jdbcType="VARCHAR"/>
        <result column="road_index" property="roadIndex" jdbcType="INTEGER"/>
        <result column="path_length" property="pathLength" jdbcType="DECIMAL"/>
        <result column="cost" property="cost" jdbcType="DECIMAL"/>
        <result column="lay_way" property="layWay" jdbcType="INTEGER"/>
        <result column="cable_type" property="cableType" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="ts" property="ts" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, case_no, road_no ,road_index, path_length, cost, lay_way, cable_type, case_points, create_time,
    create_user, update_time, update_user, is_deleted, ts
  </sql>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from yk_gh_subcase
        where case_no = #{caseNo,jdbcType=VARCHAR}
    </select>
    <delete id="delete" parameterType="java.lang.String">
   update yk_gh_subcase set is_deleted=2
    where case_no = #{case_no,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.power.grid.plan.pojo.PlanSchemeDetailPo">
        insert into yk_gh_subcase (case_no, road_no,case_points,road_index,
        path_length, cost, lay_way,
        cable_type, create_time,
        create_user, update_time, update_user)
        values
        <foreach collection="records" item="item" index="index" separator=",">
            (#{item.caseNo,jdbcType=VARCHAR}, #{item.roadNo,jdbcType=VARCHAR},#{item.casePoints,jdbcType=VARCHAR},#{item.roadIndex,jdbcType=INTEGER},
            #{item.pathLength,jdbcType=DECIMAL}, #{item.cost,jdbcType=DECIMAL}, #{item.layWay,jdbcType=INTEGER},
            #{item.cableType,jdbcType=INTEGER},now(),
            #{item.createUser,jdbcType=VARCHAR}, now(), #{item.updateUser,jdbcType=VARCHAR})
        </foreach>


    </insert>

</mapper>