<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.power.grid.plan.mapper.RoadMapper">
    <resultMap id="BaseResultMap" type="com.power.grid.plan.pojo.RoadPo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="road_no" property="roadNo" jdbcType="VARCHAR"/>
        <result column="road_name" property="roadName" jdbcType="VARCHAR"/>
        <result column="nodeA" property="startNodeId" jdbcType="BIGINT"/>
        <result column="nodeB" property="endNodeId" jdbcType="BIGINT"/>
        <result column="road_length" property="distance" jdbcType="DOUBLE"/>
        <result column="road_width" property="roadWidth" jdbcType="DOUBLE"/>
        <result column="road_class" property="roadClass" jdbcType="INTEGER"/>
        <result column="road_type" property="roadType" jdbcType="INTEGER"/>
        <result column="rode_lay" property="rodeLay" jdbcType="INTEGER"/>
        <result column="rode_price" property="price" jdbcType="DOUBLE"/>
        <result column="road_status" property="roadStatus" jdbcType="INTEGER"/>
        <result column="use_time" property="useTime" jdbcType="TIMESTAMP"/>
        <result column="grid_no" property="gridNo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="ts" property="ts" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, road_no, road_name, nodeA, nodeB, road_length, road_width, road_class, road_type, 
    rode_lay, rode_price, road_status, use_time, grid_no, create_time, create_user, update_time, 
    update_user, is_deleted, ts
  </sql>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from yk_gh_road
        where grid_no = #{gridNo,jdbcType=VARCHAR}
    </select>
</mapper>